*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    min-height:100vh;
    background:linear-gradient(135deg,#1e293b,#0f172a);
    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    width:90%;
    max-width:1100px;
    text-align:center;
}

h1{
    color:white;
    font-size:50px;
    margin-bottom:40px;
}

.search-box{
    margin-bottom:50px;
}

.search-box input{
    width:300px;
    padding:15px;
    border:none;
    border-radius:12px;
    outline:none;
    font-size:16px;
}

.search-box button{
    padding:15px 25px;
    border:none;
    border-radius:12px;
    background:#38bdf8;
    color:white;
    font-size:16px;
    cursor:pointer;
    margin-left:10px;
}

.cards{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.card{
    width:280px;
    padding:30px;
    border-radius:25px;
    background:rgba(255,255,255,0.15);
    backdrop-filter:blur(15px);
    color:white;
    box-shadow:0 10px 30px rgba(0,0,0,0.3);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-10px);
}

.top{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.top h2{
    font-size:28px;
}

.top span{
    font-size:40px;
}

.card h3{
    font-size:60px;
    margin:25px 0 15px;
}

.card p{
    color:#d1d5db;
    letter-spacing:1px;
}
